<div class="header-container">
  <div class="logo">
    <img
      width="64"
      height="64"
      src="https://img.icons8.com/arcade/64/furniture.png"
      alt="furniture store logo"
    />
    <a href="/index.html">Jianjun Furniture Store</a>
  </div>
  <div class="cart">
    <a href="/cart/cart.html" class="cart-link">
      <img
        width="32"
        height="32"
        src="https://img.icons8.com/doodle/48/shopping-cart--v1.png"
        alt="View Cart"
      />
      <span class="cart-count" style="display:none;">0</span>
    </a>
  </div>
</div>
