<div class="header-container">
  <div class="logo">
    <img
      width="64"
      height="64"
      src="https://img.icons8.com/arcade/64/furniture.png"
      alt="furniture store logo"
    />
    <a href="/index.html">Jianjun Furniture Store</a>
  </div>
  <div class="cart">
    <a href="/cart/index.html">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/doodle/48/shopping-cart--v1.png"
        alt="shopping-cart"
      />
    </a>
    <div id="cartCount" class="cart-count">0</div>
  </div>
</div>
